<div class="nmmpy2p dir dir-ltr">
  <div class="c167ogxp dir dir-ltr">
    <div class="c119o44h dir dir-ltr">
      <div data-pageslot="true" class="c1yo0219 dir dir-ltr">
        <div style="display: contents;">
          <div class="w1nwvqds dir dir-ltr">
            <div class="c1hzbei0 czhdnn1 dir dir-ltr">
              <div class="e4zy5d e1re8i3w dir dir-ltr">
                <div class="s19omyoi dir dir-ltr">
                  <div class=" dir dir-ltr" role="radiogroup" id="categoryScroller" aria-label="Catégories Airbnb">
                    <div class="cbdpsi8 dir dir-ltr" style="--reveal-duration: 250ms; --shimmer-duration: 750ms; --reveal-delay: 250ms; --shimmer-scale-x: 1;">
                      <div>
                        <div aria-describedby="category-bar-description" class="c166qgdb rd7fm2t dir dir-ltr" role="group">
                          <div class="db9tcim dir dir-ltr" id="category-bar-description">
                            13&nbsp;catégories Airbnb affichées sur 61
                          </div>
                          <div class="c18vjgz6 dir dir-ltr">
                            <div class="b1tv178t atm_k4_idpfg4 atm_vl_15vqwwr atm_uc_glywfm atm_uv_1kebd6b atm_h_1h6ojuz atm_9s_1txwivl atm_mk_stnw88 atm_wq_1mrwo0b atm_uc_19xaf19_1057f96 atm_wq_kb7nvz_1057f96 atm_uc_19xaf19__oggzyc atm_wq_kb7nvz__oggzyc c15lsjf4 atm_2g_1vho998 atm_e2_1osqo2v atm_lj_logulu atm_mj_glywfm atm_92_1yyfdc7_9in345 atm_9s_1ulexfb_9in345 atm_e2_1osqo2v_9in345 atm_vy_wwb3ei_9in345 atm_wq_1mrwo0b_9in345 atm_lj_17tpy9k__oggzyc dir dir-ltr">
                              <button aria-label="Page précédente des catégories" data-shared-element-id="previous-button" type="button" class="l1ovpqvx cbqov2r atm_1s_glywfm atm_5j_1ssbidh atm_kd_idpfg4 atm_7l_1u9drld atm_9j_tlke0l atm_tl_1gw4zv3 atm_3f_1kgecm9 atm_gi_idpfg4 atm_l8_idpfg4 atm_2a_1u8qnfj atm_2d_1hbpp16 atm_9s_116y0ak atm_vy_1f4h9lt atm_e2_1f4h9lt atm_h_1h6ojuz atm_fc_1h6ojuz atm_uc_x37zl0 atm_mj_1rj4a2z atm_k4_1piyxwk_1o5j5ji atm_9j_13gfvf7_1o5j5ji atm_7l_jajhky_1o5j5ji atm_3f_1rqy8sm__xmuf69 atm_kd_glywfm_1w3cfyq atm_uc_x37zl0_1w3cfyq atm_70_1ys03np_1w3cfyq atm_3f_glywfm_e4a3ld atm_l8_idpfg4_e4a3ld atm_gi_idpfg4_e4a3ld atm_3f_glywfm_1r4qscq atm_kd_glywfm_6y7yyg atm_uc_glywfm_1w3cfyq_p88qr9 atm_kd_glywfm_18zk5v0 atm_uc_x37zl0_18zk5v0 atm_70_1ys03np_18zk5v0 atm_3f_glywfm_6mgo84 atm_l8_idpfg4_6mgo84 atm_gi_idpfg4_6mgo84 atm_3f_glywfm_16p4kaz atm_kd_glywfm_17yx6rv atm_uc_glywfm_18zk5v0_p88qr9 atm_70_k3iuej_1nos8r_uv4tnr atm_tr_m1zi52_1nos8r_uv4tnr dir dir-ltr">
                                <span class=" dir dir-ltr">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true" role="presentation" focusable="false" style="display: block; fill: none; height: 12px; width: 12px; stroke: currentcolor; stroke-width: 5.33333; overflow: visible;">
                                  <path fill="none" d="M20 28 8.7 16.7a1 1 0 0 1 0-1.4L20 4">

                                  </path>
                                </svg>
                                </span>
                              </button>
                            </div>
                          </div>
                          <div class="s1yvqyx7 dir dir-ltr">
                            <div class=" dir dir-ltr">
                              <div class="awuxh4x dir dir-ltr">
                                <div class="cw9aemg dir dir-ltr">
                                  <div class="c14whb16 dir dir-ltr">
                                    <label aria-hidden="false" class="c1rmt9x7 dir dir-ltr">
                                      <input type="radio" name="categoryScroller" class="h192l0gc dir dir-ltr" checked="">
                                      <div class="c1abgzgs dir dir-ltr">
                                        <span class="c1ozl2w2 c1brta2w dir dir-ltr">
                                          <img class="i181yxiv dir dir-ltr" src="https://a0.muscache.com/pictures/3b1eb541-46d9-4bef-abc4-c37d77e3c21b.jpg" alt="" width="24" height="24">
                                          <div class="t192ua0c dir dir-ltr">
                                            <span class="ti7yjx dir dir-ltr">
                                              Avec vue
                                            </span>
                                          </div>
                                        </span>
                                      </div>
                                    </label>
                                    <label aria-hidden="false" class="c1rmt9x7 dir dir-ltr">
                                      <input type="radio" name="categoryScroller" class="h192l0gc dir dir-ltr">
                                      <div class="c1abgzgs dir dir-ltr">
                                        <span class="c1ozl2w2 dir dir-ltr">
                                          <img class="i181yxiv dir dir-ltr" src="https://a0.muscache.com/pictures/3fb523a0-b622-4368-8142-b5e03df7549b.jpg" alt="" width="24" height="24">
                                          <div class="t192ua0c dir dir-ltr">
                                            <span class="ti7yjx dir dir-ltr">
                                              Piscines
                                            </span>
                                          </div>
                                        </span>
                                      </div>
                                    </label>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="t14s0ksq dir dir-ltr">
                            <div class="b1tv178t atm_k4_idpfg4 atm_uc_glywfm atm_uv_1kebd6b atm_h_1h6ojuz atm_9s_1txwivl atm_mk_stnw88 atm_wq_1mrwo0b atm_uc_19xaf19_1057f96 atm_wq_kb7nvz_1057f96 atm_uc_19xaf19__oggzyc atm_wq_kb7nvz__oggzyc b1ugng7n atm_vl_19lyhz2 atm_k4_kb7nvz_1057f96 atm_k4_kb7nvz__oggzyc cyrvxq3 atm_2g_15n2bo9 atm_e2_1osqo2v atm_li_logulu atm_mj_glywfm atm_n3_idpfg4 atm_92_1yyfdc7_vmtskl atm_9s_1ulexfb_vmtskl atm_e2_1osqo2v_vmtskl atm_vy_wwb3ei_vmtskl atm_wq_1mrwo0b_vmtskl atm_n3_fzsf5v__oggzyc dir dir-ltr">
                              <button aria-label="Page suivante des catégories" data-shared-element-id="next-button" type="button" class="l1ovpqvx cbqov2r atm_1s_glywfm atm_5j_1ssbidh atm_kd_idpfg4 atm_7l_1u9drld atm_9j_tlke0l atm_tl_1gw4zv3 atm_3f_1kgecm9 atm_gi_idpfg4 atm_l8_idpfg4 atm_2a_1u8qnfj atm_2d_1hbpp16 atm_9s_116y0ak atm_vy_1f4h9lt atm_e2_1f4h9lt atm_h_1h6ojuz atm_fc_1h6ojuz atm_uc_x37zl0 atm_mj_1rj4a2z atm_k4_1piyxwk_1o5j5ji atm_9j_13gfvf7_1o5j5ji atm_7l_jajhky_1o5j5ji atm_3f_1rqy8sm__xmuf69 atm_kd_glywfm_1w3cfyq atm_uc_x37zl0_1w3cfyq atm_70_1ys03np_1w3cfyq atm_3f_glywfm_e4a3ld atm_l8_idpfg4_e4a3ld atm_gi_idpfg4_e4a3ld atm_3f_glywfm_1r4qscq atm_kd_glywfm_6y7yyg atm_uc_glywfm_1w3cfyq_p88qr9 atm_kd_glywfm_18zk5v0 atm_uc_x37zl0_18zk5v0 atm_70_1ys03np_18zk5v0 atm_3f_glywfm_6mgo84 atm_l8_idpfg4_6mgo84 atm_gi_idpfg4_6mgo84 atm_3f_glywfm_16p4kaz atm_kd_glywfm_17yx6rv atm_uc_glywfm_18zk5v0_p88qr9 atm_70_k3iuej_1nos8r_uv4tnr atm_tr_m1zi52_1nos8r_uv4tnr dir dir-ltr">
                                <span class=" dir dir-ltr">
                                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true" role="presentation" focusable="false" style="display: block; fill: none; height: 12px; width: 12px; stroke: currentcolor; stroke-width: 5.33333; overflow: visible;">
                                    <path fill="none" d="m12 4 11.3 11.3a1 1 0 0 1 0 1.4L12 28">

                                    </path>
                                  </svg>
                                </span>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="f1wy08xg dir dir-ltr">
                  <div class="c1gnte13 dir dir-ltr">
                    <div class="bocjyl3 dir dir-ltr">
                      <button data-testid="category-bar-filter-button" type="button" class="l1ovpqvx c14ijnw4 dir dir-ltr" style="--filter-button_border: 1px solid var(--j-qkgmf);">
                      <span class="i1fo7oz dir dir-ltr">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true" role="presentation" focusable="false" style="display: block; fill: none; height: 16px; width: 16px; stroke: currentcolor; stroke-width: 3; overflow: visible;">
                          <path fill="none" d="M7 16H3m26 0H15M29 6h-4m-8 0H3m26 20h-4M7 16a4 4 0 1 0 8 0 4 4 0 0 0-8 0zM17 6a4 4 0 1 0 8 0 4 4 0 0 0-8 0zm0 20a4 4 0 1 0 8 0 4 4 0 0 0-8 0zm0 0H3">

                          </path>
                        </svg>
                        <span class="b1prp6wh dir dir-ltr">
                          Filtres
                        </span>
                      </span>
                      </button>
                      <div aria-hidden="true" class="b7zgiao dir dir-ltr">
                        0
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
