
<%=Dream.category.each do |category|%>
<%= link_to dreams_path(category) do%>
  <div>
    <div>
      <i class="fa-regular fa-star"></i>
    </div>
    <div>
      <%=category%>
    </div>
  </div>
<%end%>
<%end%>
