<div class="container">
  <div class="inner-flex">
    <%# <div class="row"> %>
      <%Dream::CATEGORIES.each do |category| %>
      <%= link_to dreams_path(query: category), class: "flex__item #{'active' if params[:query] == category}" do%>
        <%# <div class="flex__item"> %>
          <div>

            <i class="<%=Dream::ICONS.sample%>"></i>
          </div>
          <div>
            <p><%=category%></p>
          </div>
        <%# </div> %>
      <%end%>
      <%end%>
    </div>
  <%# </div> %>
</div>

<%# <%=Dream::ICONS.sample(1)%>
