<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <div>
    <a class="navbar-brand"><%=link_to "Logo", root_path%></a>
    </div>
    <div>
      <form class="d-flex" >
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
    <div>

    </div>
  </div>
</nav>





dream.category
end
