<h1>Add a list with a selection of movies using simple form</h1>
<%= simple_form_for @dream do |f| %>
  <%= f.input :title %>
  <%= f.button :submit %>
<% end %>
<%#= link_to "Go back to homepage", root_path %>
