// Specific CSS for your home-page

@keyframes color {
    0%   { background: var(--white); }
    30%  { background: var(--pink); }
    60%  { background: var(--pink); }
    100%  { background: var(--white); }
}

// @keyframes color {
//   0%   { background: var(--blue); }
//   20%  { background: var(--purple); }
//   40%  { background: var(--pink); }
//   60%  { background: var(--neutral); }
//   80%  { background: var(--grey); }
//   100% { background: var(--dark-grey); }
// }

body {
  background: var(--white); /* Fallback */
  animation: color 100s infinite linear;
}

.absolution {
  top: 58px;
}
