#price-info {
  width: 520px;
  height: 240px;
  box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
  border: 1px solid var(--Neutral-03, #DDD);
}

#dream_photos {
  position: relative;
  width: auto;
}

#booking-button {
  display: inline-flex;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: var(--Gradient-02, radial-gradient(1413.54% 103.95% at -3.95% 100%, #D33753 0%, #D13660 52.83%, #C72D65 100%));
  color: #DDD;
}

#delete-button {
  display: inline-flex;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  color: #DDD;
}

.parent {
  height: 50vh;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  position: relative;
  }

.taille {
  height: 500px;
}

.parent img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.div1 {
  grid-area: 1 / 1 / 3 / 5;
  border-radius: 25px 0px 0px 25px;
}
.div2 {
  grid-area: 1 / 5 / 2 / 7;
}
.div3 { grid-area: 2 / 5 / 3 / 7; }
.div4 {
  grid-area: 1 / 7 / 2 / 9;
  border-radius: 0px 25px 0px 0px;
}
.div5 {
  grid-area: 2 / 7 / 3 / 9;
  border-radius: 0px 0px 25px 0px;
  position: relative;
}

.image-div {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  // background-size: content;
}

