.sliding-background {
  height: 100%;
  width: 5000px;
  z-index: -1;
  animation: slide 40s linear infinite;
}

@keyframes slide{
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-1692px, 0, 0);
  }
}
