<div class="container mt-5">
  <h1 class="text-center">All your bookings</h1>

  <% @bookings.each do |booking| %>
    <div class="row justify-content-center">
      <div class="col-md-8">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Dream</th>
              <th scope="col">Start Date</th>
              <th scope="col">End Date</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= booking.dream.title %></td>
              <td><%= booking.start_date.strftime("%A, %b %d") %></td>
              <td><%= booking.end_date.strftime("%A, %b %d") %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>
</div>
