
    <div class="navbar_perso">
      <div class="log-in">
        <%= image_tag "line_21.svg", class:"line"%>
        <%= image_tag "line_22.svg", class:"line"%>
        <%= image_tag "line_23.svg", class:"line"%>
        <img class="line" src="asset/images/line_21.svg" />
        <img class="img" src="images/line_22.svg" />
        <img class="line-2" src="images/line_23.svg" />
        <div class="frame">
          <div class="overlap-group"><img class="mask-group" src="img/mask-group.png" /></div>
        </div>
      </div>
      <div class="logo">
        <div class="logo-text">
          <%= image_tag "logo-png.png", class:"line"%>
          <div class="text-wrapper">Dreams “R” us</div>
        </div>
      </div>
      <div class="group">
        <div class="overlap"><div class="div">Search bar...</div></div>
      </div>
 </div>
