.outer-flex {
  display: flex;
}

.inner-flex {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.flex__item {
  color: white;
  text-decoration: none;
  justify-content: center;
  text-align:center;
  width: 100px;
  margin: 5px;
  padding: 5px;
  &.active {
    color: var(--neutral-07);
  }
}

a.flex__item:hover  {
  color: var(--neutral-07);
}
