#see-more {
  width: 196px;
  padding: 14px 0px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--Shade-02, #222);
  position: absolute;
  top: 479px;
  right: 84px;
}
