#see-more {
  width: auto;
  padding: 8px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--Shade-02, #222);
  position: absolute;
  bottom: 2%;
  right: 2%;
}
