:root {
  --black: rgba(0, 0, 0, 1);
  --dark-grey: rgba(136, 136, 136, 1);
  --grey: rgba(136, 136, 136, 1);
  --light-grey: rgba(221, 221, 221, 1);
  --white: rgba(255, 255, 255, 1);
  --purple: rgba(144, 46, 209, 1);
  --pink: rgba(255, 65, 111, 1);
  --blue: rgba(63, 55, 201, 1);
  --neutral-07: rgba(113, 113, 113, 1);
}
